.faqcontainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  justify-content: space-between;
}

.faqcontent {
  padding: 4rem;
  border: 0.2px solid #00000021;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  text-align: left;
  font-size: 1.6rem;
  padding-bottom: 3rem;
}
.answer {
  text-align: left;
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  margin-top: 1rem;
}

.answer.closed {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}
.togglebutton {
  background-color: #fff;
}
