/* // Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
.logo {
  width: 10.6rem;
  height: 3.3rem;
}
.navlinks {
  background-color: #f0f5f2;
  padding: 2rem;
  border-radius: 100px;
  display: flex;
  gap: 3.8rem;
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #0d1714;
  font-weight: 400;
}
.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.loginbtn {
  background-color: #c3f499;
}
