.learncontent {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10rem;
  align-items: center;
}

.learncontainer {
  padding: 9.6rem 0;
}

.learntitle {
  text-align: left;
  margin-bottom: 2rem;
  height: 12rem;
}

.learnsubcontent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
