html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  max-width: 100%;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.page-text {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #626965;
}

button {
  border-radius: 60px;
  border: 1px solid transparent;
  padding: 0.8em 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2e574d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btn {
  background-color: #2e574d;
  color: #fff;
  font-weight: 500;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
}
/* Sub-hero */
.sub-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

/* About section */

.aboutus {
  padding-bottom: 9.6rem;
}
.about-section {
  background-color: #f0f5f2;
  padding: 5rem 2.4rem;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 4rem;
}
.about-sub img {
  display: block;
  margin-left: 0;
  padding-bottom: 3rem;
  width: 4rem;
}
.about-head {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  padding-bottom: 3rem;
}
.about-text {
  text-align: left;
  font-weight: 400;
}

/* About Us */
.about-us-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 8rem;
  justify-content: space-between;
  text-align: left;
}

.about-us-image {
  width: 100%;
}

.aboutustextcontent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.aboutushead h2 {
  font-size: 4.2rem;
  padding-bottom: 1rem;
  line-height: 5rem;
}

.aboutussubhead {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.aboutussubsection {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.padding-btm {
  padding-bottom: 2rem;
}
.aboutusimage {
  align-self: flex-start;
  width: 50px;
}
